<h1>Products List</h1>

<table class="table table-bordered table-responsive table-primary table-hover">

	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Price</th>
			<th>Qty</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>1</td>
			<td>kabab</td>
			<td>100</td>
			<td>10</td>
		</tr>
		<tr>
			<td>2</td>
			<td>kabab</td>
			<td>100</td>
			<td>10</td>
		</tr>
		<tr>
			<td>3</td>
			<td>kabab</td>
			<td>100</td>
			<td>10</td>
		</tr>
	</tbody>

</table>
